*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f5f5f5;
}

.navbar{
  background:#1e293b;
  color:white;
  padding:15px 40px;
  display:flex;
  justify-content:space-between;
}

.navbar a{
  color:white;
  margin-left:20px;
  text-decoration:none;
}
.navbar button{
  background:none;
  border:none;
  color:white;
  padding: 18px 20px;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

.navbar button:hover{
  color:#38bdf8;

}

.home{
  padding:80px 20px;
  text-align:center;
}

.home h1{
  font-size:60px;
  color:#0f172a;
  margin-bottom:20px;
}

.home p{
  font-size:22px;
  color:gray;
  margin-bottom:50px;
}

.home-services{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}

.home-card{
  background:white;
  width:300px;
  padding:30px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  transition:0.3s;
}

.home-card:hover{
  transform:translateY(-5px);
}

.home-card h2{
  color:#2563eb;
  margin-bottom:15px;
}

.home-card p{
  font-size:18px;
}
.services-container{
  padding:40px;
}

.services-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  margin-top:30px;
}

.card{
  background:white;
  border-radius:10px;
  overflow:hidden;
  text-align:center;
  padding-bottom:20px;
}

.card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.card button{
  margin-top:10px;
  padding:10px 20px;
  border:none;
  background:#0f766e;
  color:white;
  border-radius:5px;
}

.login-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:70vh;
}

.login-form{
  background:white;
  padding:30px;
  width:350px;
}

.login-form input{
  width:100%;
  padding:12px;
  margin-bottom:15px;
}

.login-form button{
  width:100%;
  padding:12px;
  background:#2563eb;
  color:white;
  border:none;
}

.dashboard{
  padding:40px;
}

.dashboard-cards{
  display:flex;
  gap:20px;
  margin-top:30px;
}

.dash-card{
  background:white;
  padding:30px;
  flex:1;
  text-align:center;
}

.admin{
  padding:40px;
}

table{
  width:100%;
  background:white;
  margin-top:20px;
  border-collapse:collapse;
}

table th,
table td{
  border:1px solid #ccc;
  padding:15px;
  text-align:center;
}

.footer{
  background:#1e293b;
  color:white;
  text-align:center;
  padding:15px;
  margin-top:40px;
}